# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: LexisNexis Legal & Professional Engineering
email: engineering@lexisnexis.com
description: >- # this means to ignore newlines until "baseurl:"
  This blog is curated and maintained by the LexisNexis Product Development Team. Our aim is to provide insights,
  expertise, and commentary on current trends within software engineering.
disclaimer: >- # this means to ignore newlines until "baseurl:"
  These blogs are published for information purposes only and can be statements of opinion. Although LexisNexis
  Legal & Professional checks the accuracy of all information at the time of publishing the blogs, no representations
  or warranties are expressed or implied as to the blog, its contents and any accompanying materials and it should not
  be relied upon for acting in specific circumstances. Although links to external websites on any blog posts are tested
  and deemed accurate at the time of the blog posting, LexisNexis Legal & Professional accepts no liability for such
  links to external websites and does not endorse or warrant in any way any materials available through such links or
  any privacy or other practices of such sites.

baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: LexisNexis
github_username:  lnlp-open-source

# Build settings
theme: minima

plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
