
{% assign links = site.data.links %}

<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left">
                <ul class="list-inline mb-5">
                    <li><img src="/assets/img/LNlogo.svg"/></li>
                </ul>
                <ul class="list-inline mb-2 small">
                    <li class="list-inline-item" style="color: #ffffff; font-size: 60%;">{{site.disclaimer}}</li>
                </ul>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right">
                <ul class="list-inline mb-5">
                    <li class="list-inline-item mr-4">
                        <a href="{{ links.github }}" style="color: #ffffff"><i class="fab fa-github fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a href="{{ links.facebook }}" style="color: #ffffff"><i class="fab fa-facebook fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a href="{{ links.twitter }}" style="color: #ffffff"><i class="fab fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a href="{{ links.linkedin }}" style="color: #ffffff"><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ links.youtube }}" style="color: #ffffff"><i class="fab fa-youtube fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/feed.xml" style="color: #ffffff"><i class="fa fa-rss fa-2x"></i></a>
                    </li>
                </ul>
                <ul class="list-inline mb-2 small">
                    <li class="list-inline-item"><a href="/about/#!" style="color: #CAD6E1">About</a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a href="{{ links.lexisnexis-our-company }} " style="color: #CAD6E1">Our Company</a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a href="{{ links.lexisnexis-communities }}" style="color: #CAD6E1">Communities</a></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"><a href="{{ links.lexisnexis-home }}" style="color: #CAD6E1">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>