---
layout: default
---

{% assign post_count = site.posts | size %}

<section class="recent-post">
    <ul>
        {% for post in site.posts reversed %}
        {% assign author = site.data.authors[post.author] %}
        <li style="padding-bottom: 15px">
            <a style="color: black;" class="h3" href="{{ post.url }}">{{ post.title }}</a>
            {% if post.hero.href %}
            <div style="padding-top: 30px">
                <img alt="{{post.hero.alt}}" src="{{post.hero.href}}" class="hero-image"/>
            </div>
            {% endif %}
            <p>{{ post.description }}</p>
            <p>{{ post.excerpt | strip_html | truncatewords: 50 }}&nbsp;<a href="{{ post.url }}">Read More<img
                style="padding-left: 10px; padding-bottom: 3px" src="assets/img/arrow-right.png"
                alt="read article"/> </a></p>
            <p style="font-size: 14px"
               class="postDate">{{ post.date | date: "%b %-d, %Y" }} by {{ author.name }}</p>
            <hr/>
        </li>
        {% endfor %}
    </ul>
</section>


