---
layout: default
---

{% assign post_count = site.posts | size %}

<section class="recent-post">
    <ul>
        {% for post in site.posts reversed %}
        {% assign author = site.data.authors[post.author] %}
        <li style="padding-bottom: 15px">
            <a style="color: black;" class="h4 pb-4" href="{{ post.url }}">{{ post.title }}</a>
            {% if post.hero.href %}
            <div>
                <img alt="{{post.hero.alt}}" src="{{post.hero.href}}" class="hero-image"/>
            </div>
            {% endif %}
            <p style="padding-bottom: 5px; padding-top: 10px" class="post__desc">{{ post.description }}</p>
            <span style="font-size: 14px"
                  class="postDate">{{ post.date | date: "%b %-d, %Y" }} by {{ author.name }}</span>
            <div style="padding-bottom:5px; padding-top: 15px"><a href="{{ post.url }}">Read More<img
                    style="padding-left: 10px; padding-bottom: 3px" src="assets/img/arrow-right.png"
                    alt="read article"/> </a></div>
            <hr/>
        </li>
        {% endfor %}
    </ul>
</section>


